# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
.env.*

# Build output
build/
dist/

# IDE/Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db

# Package lock file (if you want to ignore it)
package-lock.json
yarn.lock

# Coverage directory used by testing tools
coverage/
